@use '../helpers/' as *;

.diagnostic {
    --bg-position-y: 20%;
    &--bg {
        background: url('/images/bg/diagnostic-bg@x1.png') no-repeat center var(--bg-position-y) / cover;

        @supports (background-image: url('/images/bg/diagnostic-bg@x1.webp')) {
            background-image: url('/images/bg/diagnostic-bg@x1.webp');
        }

        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
            background-image: url('/images/bg/diagnostic-bg@x2.png');

            @supports (background-image: url('/images/bg/diagnostic-bg@x2.webp')) {
                background-image: url('/images/bg/diagnostic-bg@x2.webp');
            }
        }
        min-height: #{rem(600)};
    }
    &__bgc {
        background: linear-gradient(to right, rgba(21, 64, 132, 0.72) 0%, rgba(21, 64, 132, 0) 72%);
    }
    &__inner {
        padding-top: #{rem(140)};
        padding-bottom: #{rem(136)};
        display: flex;
        flex-direction: column;
        row-gap: #{rem(61)};
    }
    &__header {
        display: flex;
        flex-direction: column;
        row-gap: #{rem(40)};
        justify-content: flex-start;
    }
    &__title {
        width: #{rem(970)};
        min-height: #{rem(116)};
        &--accent {
            color: var(--green);
            display: block;
        }
    }
    &__subtitle {
        width: #{rem(852)};
        min-height: #{rem(88)};
    }
    &__button {
        display: flex;
        column-gap: #{rem(10)};
    }
    @include mobile {
        @include visually-hidden;
    }
}
.diagnostic-button {
    display: flex;
    column-gap: #{rem(10)};
    justify-content: flex-start;
    align-items: center;
    &__button {
        display: flex;
        column-gap: #{rem(10)};
        align-items: center;
        font-size: #{rem(18)};
        line-height: 140%;
        font-weight: 600;
        padding-left: #{rem(26.5)};
        padding-right: #{rem(22.5)};
        padding-block: #{rem(20.5)};
        width: #{rem(233)};
        height: #{rem(65)};
    }
    &__subscribe {
        color: var(--white);
        font-size: #{rem(16)};
        line-height: 150%;
        width: #{rem(372)};
        font-weight: 600;
    }
}
