@use '../helpers/' as *;
.header {
    &__body {
        display: flex;
        flex-direction: column;
    }
    &__top {
        padding-block: #{rem(8)};
        display: flex;
        justify-content: space-between;
    }
    &__info {
        display: flex;
        column-gap: #{rem(54)};
        align-items: center;
    }
    &__contacts {
        display: flex;
        column-gap: #{rem(58)};
        align-items: center;
    }

    &__email,
    &__phone {
        display: flex;
        font-size: #{rem(18)};
        line-height: 150%;
        color: var(--black);
    }
    &__email {
        column-gap: #{rem(4.92)};
        font-weight: 500;
    }
    &__phone {
        column-gap: #{rem(5.37)};
        font-weight: 600;
    }
    &__button {
        display: flex;
        column-gap: #{rem(13)};
        background-color: var(--grey-2);
        border: none;
        border-radius: var(--border-radius-btn);
        padding-inline: #{rem(25)};
        padding-block: #{rem(11)};
        font-weight: 600;
        font-size: #{rem(16)};
        line-height: 150%;
        color: var(--black);
        &--alt {
            background-color: var(--blue);
            color: var(--white);
            column-gap: #{rem(10)};
            padding-inline: #{rem(20)};
        }
        &--padding-alt {
            padding-inline: #{rem(13)};
        }
    }

    &__bottom {
        display: flex;
        // column-gap: #{rem(94.17)};
        padding-block: #{rem(10)};
        justify-content: space-between;
        align-items: center;
        border-top: #{rem(1)} solid var(--border-nav-color);
    }
    &__menu {
        &-list {
            display: flex;
            align-items: center;
            column-gap: rem(94.17);
        }
        &-link {
            color: var(--gray);
            font-weight: 400;
            font-size: #{rem(16)};
            line-height: 150%;
            &.is-active {
                color: var(--color-nav-active);
                font-weight: 600;
                pointer-events: none;
            }
        }
    }
}
